.detail{
    flex:1;
   
    .user{
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid #dddddd6f;

        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
        h2{
            font-size: 20px;
            font-weight: 500;
        }

        p{
            font-size: 14px;
            color: lightgray;
            font-weight: 300;
        
        }
    }
    .info{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .option{

            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;

                img{
                    width: 30px;
                    height: 30px;
                    background-color: #3d6b88fd;
                    padding: 10px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
            .photos{
                display: flex;
                gap: 20px;
                flex-direction: column;
                margin-top: 20px;

                .photoItem{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .photoDetail{
                        display: flex;
                        align-items: center;
                        gap:20px;
                        flex-grow: 1;
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 5px;
                            object-fit: cover;
                            position: relative;
                            z-index: 1;
                        }
                        span{
                            font-size:14px;
                            color: lightgray;
                            font-weight: 300;
                        }
                    }

                    .icon{
                        width: 30px;
                        height: 30px;
                        background-color: #3d6b88fd;
                        padding: 10px;
                        border-radius: 50%;
                        cursor: pointer;

                    }
                }
               
            }
        }
        button{
            padding: 5px 5px;
            background-color: rgba(230, 74, 105, 0.634);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover{
                background-color: rgba(225, 28, 67, 0.842);
            }
            &.logout{
                padding: 4px;
                background-color: #1a73e8;
            }
        }

    }
    }
